.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrapper .toggler{
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}


.menu-wrapper .Hamburger {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

 /* hamburger lines */
 .menu-wrapper .Hamburger >div {
    position: relative;
    flex: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 3px;
    width: 100%;
    transition: all 0.4s ease;
}

.menu-wrapper .Hamburger > div::before, 
.menu-wrapper .Hamburger > div::after{
    content: '';
    position: absolute;
    width: 100%;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #fff;
    z-index: 1;
   
}

.menu-wrapper .Hamburger > div::after {
    top:10px;
}

/* toggler turning into X */

.toggler:checked + .Hamburger > div {
    transform: rotate(46deg);
}

.toggler:checked + .Hamburger > div::before {
    top: 0;
    transform: rotate(90deg);
}

.toggler:checked + .Hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* when checked and hovered it will rotate */

.menu-wrapper .toggler:checked:hover + .Hamburger > div {
    transform: rotate(225deg);
}